/* abstracts */
@use "abstracts/variables.scss";

/* General styles */
@use "base/general.scss";
@use "base/dragAndDrop.scss";

/* components */
@use "components/task-container.scss";
@use "components/button.scss";

/* layout */
@use "layout/bg-section.scss";
@use "layout/main-container.scss";
@use "layout/header.scss";
@use "layout/main-section.scss";
@use "layout/footer.scss";

@use "themes/light-mode.scss";
@use "themes/dark-mode.scss";

/* Media queries */
@use "base/queries.scss";