:root {
  /* Color variables */
  --primary-blue: hsl(220, 98%, 61%);

  /* light theme */
  --white-color: hsl(0, 0%, 1000%);
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-theme-light-grayish-blue: hsl(234, 39%, 85%);
  --dark-theme-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-theme-dark-grayish-blue: hsl(234, 11%, 52%);
  --dark-theme-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --dark-theme-very-dark-grayish-blue-alt: hsl(237, 14%, 26%);

  /* Typography */
  --body-font-size: 1.8rem;
  --font-family: 'Josefin Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}


/*
1. Typography:
    => Font sizes (px): 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

5. Whitespace:
    => Spacing (px): 2 / 4 / 8 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/