@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;

.main {
  margin-top: 4.8rem;

  @include flex-container(center, center, 2rem, column);
}

.main__list-container {
  width: 100%;
  background-color: var(--dark-grayish-blue);
  overflow: hidden;

  @include flex-container(center, stretch, 1px, column);
}

.main__task-list {
  @include flex-container(center, stretch, 1px, column);
}

.main__options {
  padding: 1.2rem;
  color: var(--dark-grayish-blue);
  @include flex-container(space-between, center, 0);
}

.main__option-items-left {
  font-size: 1.2rem;
}

.main__filters {
  @include flex-container(center, center, 1.4rem, row);
}

.main__filter-button {
  font-weight: var(--font-weight-bold);
}
/* Common styles */
.light-shadow {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.main__input, .main__list-container {
  border-radius: 8px;
}
