:root {

}

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============== Font setup ==================== */
html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
}

/* ================= Main title ====================== */
.site-title {
    font-size: 3.2rem;
    margin: 4rem 0;
    text-align: center;
}

/* ============== Main container ===================== */
.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: min-content;
    margin: 0 auto;
}

/* ============== input fields  ==============*/
.input-fields {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
}

.input-fields__text {
    position: relative;
}

.input-fields__label-text {
    display: none;
}

.input-fields__input-text {
    font-size: 2rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid #2b8c81;
    border-left: 0;
    padding: 0.5rem;
    transition: border-bottom 0.3s;
    width: 50rem;
}

.input-fields__input-text:focus {
    border-bottom: 3px solid #a92323;
    outline: none;
}

.input-fields__button-add {
    border: none;
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
    background-color: #95c6c0;
    text-wrap: nowrap;
}

.input-fields__button-add:hover {
    background-color: #d49191;
    cursor: pointer;
}

/* ============== list container ============== */
.list-container {
    width: 100%;
}

.list-container__task-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.list-container__task {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container__task-text {
    margin-left: 1rem;
}

.list-container__task-delete {
    font-size: 2rem;
    color: #fff;
    background-color: #a92323;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.list-container__task-delete:hover {
    background-color: #982020;
}

